<table class="table table-striped">
    <thead>
        <tr>
            <th>Ügyfélkód</th>
            <th>Név</th>
            <th>Lakcím</th>
            <th>Telefonszám</th>
            <th>Személyi ig. szám</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @for(car of cars; track $index) {
            <tr>
                <td>{{ car.carId }}</td>
                <td>{{ car.carBrand}}</td>
                <td>{{ car.carName }}</td>
                <td>{{ car.carType }}</td>
                <td>{{ car.carPower }}</td>
                <td>{{ car.carWeight}}</td>
                <td>{{ car.carDeposit }}</td>
                <td>{{ car.carDailyCost }}</td>
                <td>
                    <button class="btn btn-outline-primary"
                        (click)="goToUserForm(car.id)">Módosítás</button>
                    <button class="btn btn-outline-danger"
                        (click)="deleteUser(car)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--MODIFY THIS LATER-->