<table class="table table-striped">
    <thead>
        <tr>
            <th>Autókód</th>
            <th>Autómárka</th>
            <th>Megnevezés</th>
            <th>Típus</th>
            <th>Teljesítmény (kW) </th>
            <th>Súly (kg)</th>
            <th>Biztonsági letét (HUF)</th>
            <th>Napi bérleti díj (HUF)</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @for(car of cars; track $index) {
            <tr>
                <td>{{ car.carId }}</td>
                <td>{{ car.carBrand}}</td>
                <td>{{ car.carName }}</td>
                <td>{{ car.carType }}</td>
                <td>{{ car.carPower }}</td>
                <td>{{ car.carWeight}}</td>
                <td>{{ car.carDeposit }}</td>
                <td>{{ car.carDailyCost }}</td>
                <td>
                    <button class="btn btn-outline-primary"
                        (click)="goToCarForm(car.id)">Módosítás</button>
                    <button class="btn btn-outline-danger"
                        (click)="deleteCar(car)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--MODIFY THIS LATER-->