<div class="row">
    <div class="col-md-6">
        <form [formGroup]="companyForm">
            <div class="mb-3">
                <label for="companyName" class="form-label">Cégnév</label>
                <input type="text" class="form-control" id="companyName" formControlName="companyName">
            </div>
            <div class="mb-3">
                <label for="companyContactName" class="form-label">Cég Képviselő Neve</label>
                <input type="text" class="form-control" id="companyContactName" formControlName="companyContactName">
            </div>
            <div class="mb-3">
                <label for="companyTaxNumber" class="form-label">Adószám</label>
                <input type="text" class="form-control" id="companyTaxNumber" formControlName="companyTaxNumber">
            </div>
            <div class="mb-3">
                <label for="compRegNumber" class="form-label">Cégjegyzékszám</label>
                <input type="text" class="form-control" id="compRegNumber" formControlName="compRegNumber">
            </div>
            <div class="mb-3">
                <label for="companyHQ" class="form-label">Székhely</label>
                <input type="text" class="form-control" id="companyHQ" formControlName="companyHQ">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveCompany()">Mentés</button>
        </div>
    </div>
</div>
@if (!isNewCompany) { 
    <form [formGroup]="datepickerForm">
        <div class="mb-3">
            <label for="startDate" class="form-label">Mettől:</label>
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
        </div>
        <div class="mb-3">
            <label for="companyContactName" class="form-label">Meddig:</label>
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
        </div>
       
    </form>
    <div class="text-end">
            <button class="btn btn-outline-primary" (click)="filterTransactions()">Filter</button>
        </div>
<div class="row">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Időpont</th>
            <th>Változás (HUF)</th>
            <th>Indok</th>
        </tr>
    </thead>
    <tbody>
       
            @for(transaction of companyTransactions; track $index) {
            <tr>
                <td>{{transaction.timestamp | date:"yyyy-MM-dd"}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{ transaction.reason}}</td>
            </tr>
        }
       
    </tbody>
</table>
</div>
}