<div class="row">
    <div class="col-md-6">
        <form [formGroup]="carForm">
            <div class="mb-3">
                <label for="carId" class="form-label">Autókód</label>
                <input type="text" class="form-control" id="carId" formControlName="carId">
            </div>
            <div class="mb-3">
                <label for="carBrand" class="form-label">Autómárka</label>
                <input type="text" class="form-control" id="carBrand" formControlName="carBrand">
            </div>
            <div class="mb-3">
                <label for="carName" class="form-label">Megnevezés</label>
                <input type="text" class="form-control" id="carName" formControlName="carName">
            </div>
            <div class="mb-3">
                <label for="carType" class="form-label">Típus</label>
                <input type="text" class="form-control" id="carType" formControlName="carType">
            </div>
            <div class="mb-3">
                <label for="carPower" class="form-label">Teljesítmény (kW)</label>
                <input type="text" class="form-control" id="carPower" formControlName="carPower">
            </div>
            <div class="mb-3">
                <label for="carWeight" class="form-label">Súly (kg)</label>
                <input type="text" class="form-control" id="carWeight" formControlName="carWeight">
            </div>
            <div class="mb-3">
                <label for="carDeposit" class="form-label">Biztonsági letét (HUF)</label>
                <input type="number" class="form-control" id="carDeposit" formControlName="carDeposit">
            </div>
            <div class="mb-3">
                <label for="carDailyCost" class="form-label">Napi bérleti díj (HUF)</label>
                <input type="number" class="form-control" id="carDailyCost" formControlName="carDailyCost">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveCar()">Mentés</button>
        </div>
    </div>
</div>
<!--MODIFY THIS LATER..............-->